<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                    &copy; Esprit 2023 |</a>
                    Binita Khua |
                    Harsh Punjabi |
                    Helga Bensly 
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>