<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espirit</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Our Goals</a>
            </li>
            <li>
                <a href="">Programs</a>
                <ul>
                    <li>
                        <a href="">Yoga Program</a>
                    </li>
                    <li>
                        <a href="">Workout Program</a>
                    </li>
                    <li>
                        <a href="">Music Therapy Program</a>
                    </li>
                    <li>
                        <a href="">Work-Life Balance Programs</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Our Stars</a></li>
            <li>
                <a href="">Book a Session</a>
            </li>
            <li>
                <a href="views\login.ejs">Login</a>/<a href="">Sign up!</a>
            </li>
        </ul>
    </nav>
