<nav id="nav">
  <a href="/">Home</a>
  <div class="dropdown">Login
    <div class="dropdown-content">
      <a href="/login">Login for Users</a>
      <a href="/professionallogin">Login for Professionals</a>
    </div>
  </div>
  <div class="dropdown">Sign Up
    <div class="dropdown-content">
      <a href="/signup">Sign Up for Users</a>
      <a href="/professionalsignup">Sign Up for Professionals</a>
    </div>
  </div>
  <!-- <a href="/signup">Sign Up</a> -->
  <div class="dropdown">
    Services
    <div class="dropdown-content">
      <a href="/submtsignup">Music Therapy</a>
      <a href="/submpsignup">Mental Peace</a>
      <a href="/subwpsignup">Workout Program</a>
      <a href="/subypsignup">Yoga Program</a>
    </div>
  </div>
  <a href="/contactus">Contact Us</a>
</nav>
</header>

</div>
</div>
</div>
</div>