<%- include('shared/header.ejs') -%>
<%- include('shared/nav.ejs') -%>

<br>
<br>
<br>
<div class="container">
    <p>Thanks for your interest!</p> 
    <br> <br>
    <p>Our Team will get back to you shortly!</p>
    <br><br>
    <p>Stay Tuned for Latest and Exciting Programs!</p>
    
</div>

<%- include('shared/footer.ejs') -%>
