<%- include('shared/header.ejs') -%> <%- include('shared/nav.ejs') -%>
			<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Mental health is just as important as physical health.</h2>
							<span> Learn about supports available to you, and how to get help when you need it. ...</span>
						</div>

					</div>
				</div>

			<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-4 col-12-medium">

								<section>
									<h2>Welcome to Esprit!</h2>
									<p>This is <strong>Esprit</strong>,Mental Health Consulting Platform is an innovative project aimed at providing free mental health consulting services to individuals in need. The platform seeks to address the growing demand for accessible mental health support by leveraging the expertise of volunteer doctors and utilizing crowd funding to sustain the services.</p>
								</section>

							</div>
							
							<div class="col-4 col-6-medium col-12-small">

								<section>
									<h2>Emergency</h2>
									<ul class="small-image-list">
										<li>
											<a href="#"><img src="/uploads/pic2.jpg" alt="" class="left" /></a>
											<p>If this is an emergency, or you or someone you know is in immediate danger</p>

											<p></p>please call 911 or go to your nearest hospital or emergency department..</p>
										</li>
									</ul>
								</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<section>
									<h2>Get help. Talk to someone.</h2>
									<div>
										<div class="row">
											<div class="col-6 small">
												<ul class="link-list">
													<li></li>
													<li><a href="#">One-stop private space to access a wide range of mental health supports</a></li>
													<li><a href="#">Access therapy wherever you’re most comfortable</a></li>
													<li><a href="#">Unlimited access to account history including therapist messages, content and more</a></li>
													<li><a href="#">Eget et amet consequat</a></li>
												</ul>
											</div>
										</div>
									</div>
								</section>

							</div>
							<div class="col-6 col-12-medium">

								<section>
									<h2>Our services are accessible, free, and effective.</h2>
									<p>Many people feel like their mental health isn't "bad enough" to seek out therapy.

										That's not what this is about. You don't have to hit a some predetermined "level of sickness" before you reach out. This is about gaining the skills and resiliency you need to face the challenges life throws at you.</p>
									<ul class="big-image-list">
										<li>
											<a href="#"><img src="/uploads/pic3.jpg" alt="" class="left" /></a>
											<h3>easy, safe and confidential</h3>
											<p>Our platform is designed to be user-friendly, ensuring that accessing our services is effortless. Your privacy and confidentiality are of utmost importance to us. Rest assured that your personal information and interactions are kept secure and private.</p>
										</li>
										<li>
											<a href="#"><img src="/uploads/pic4.jpg" alt="" class="left" /></a>
											<h3>available online 24 hours a day, 7 days a week</h3>
											<p>We understand that challenges can arise at any time. Our services are available to you round the clock, every day of the week. Whether it's a sleepless night or a moment of uncertainty, you can count on us to be there when you need support.</p>
										</li>
										<li>
											<a href="#"><img src="/uploads/pic5.jpg" alt="" class="left" /></a>
											<h3>Free, confidential support services</h3>
											<p>We believe in breaking down barriers to mental well-being. Our services are provided completely free of charge, ensuring that everyone has access to the help they deserve. Additionally, our platform offers a confidential space where you can freely express yourself without judgment.</p>
										</li>
									</ul>
								</section>

							</div>
							<div class="col-6 col-12-medium">

								<article class="blog-post">
									<h2>Just another blog post</h2>
									<a class="comments" href="#">33 comments</a>
									<a href="#"><img src="/uploads/pic6.jpg" alt="" class="top blog-post-image" /></a>
									<h3>Unlocking the Hidden Benefits of Prioritizing Mental Health</h3>
									<p>In the hustle and bustle of our daily lives, it's easy to overlook the significance of mental health. Often overshadowed by physical well-being, mental health plays a crucial role in our overall quality of life. Beyond the surface, there exists a treasure trove of benefits that come with prioritizing our mental well-being. Let's delve into the often underestimated advantages that a healthy mind can bring to our lives.</p>
									<footer class="controls">
										<a href="#" class="button">Continue Reading</a>
									</footer>
								</article>

							</div>
						</div>
					</div>
				</div>
				<%- include('shared/footer.ejs') -%>