<%- include('shared/header.ejs') -%> <%- include('shared/nav.ejs') -%>
<br><br>
<h1>User LogIn</h1>
<div class="container">
  <form name="login" method="post" action="/login">
   
    <label>Username</label>
    <input type="text" id="username" name="username" placeholder="UserName" />
    <br /><br />
    <label>Password</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
    />
    <br /><br />
    <button type="submit">Submit</button>
    <br /><br />
  </form>
</div>
<%- include('shared/footer.ejs') -%>
