<%- include('shared/header.ejs') -%>
<%- include('shared/nav.ejs') -%>

<div class="container">
  <div class="row">
    <div class="col">
      <br><br>
      <h1>SubMT Signup</h1>
      <br><br>
      <% if (errors && errors.length > 0) { %>
        <div class="error">
          <ul>
            <% errors.forEach(error => { %>
              <li><%= error.msg %></li>
            <% }) %>
          </ul>
        </div>
      <% } %>
      <form action="/submtsignup" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required>
        <br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<%- include('shared/footer.ejs') -%>
